{{! Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE.txt in the project root for license information.}}
<table class="table">
    <thead class="thead-light">
    <th scope="col">Subject</th>
    <th scope="col">Start</th>
    <th scope="col">End</th>
    <th scope="col">Attendees</th>
    <th scope="col">Details</th>
    </thead>
    <tbody>
    {{#each events}}
        <tr>
            <td>{{this.subject}}</td>
            <td>{{this.start.dateTime}} ({{this.start.timeZone}})</td>
            <td>{{this.end.dateTime}} ({{this.end.timeZone}})</td>
            <td>
                <ul class="list-unstyled">
                    {{#each this.attendees}}
                        <li class="p-1" title="{{this.emailAddress.address}}">
                            {{this.emailAddress.name}}
                        </li>
                    {{/each}}
                </ul>
            </td>
            <td><a class="ms-Button" href="/calendar/viewItem?id={{this.id}}"><span
                    class="ms-Button-label">Details</span></a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>