<div class="bd-example" data-example-id="">
    <form action="/calendar/updateItem" method="get" class="form-row">
        <input name="eventId" type="hidden" value="{{event.id}}"/>

        <div class="form-group col-md-6">
            <label for="exampleInputSubject" class="bmd-label-floating">Subject</label>
            <input name="subject" type="text" class="form-control" id="exampleInputSubject" value="{{event.subject}}">
        </div>

        <div class="form-group col-md-6">
            <label for="exampleInputLocation" class="bmd-label-floating">Location</label>
            <input name="location" type="text" class="form-control" id="exampleInputLocation"
                   value="{{event.location.displayName}}"/>
        </div>

        {{#event.isReminderOn}}
            <div class="form-group col-md-6">
                <label for="exampleInputRmb" class="bmd-label-floating">Reminder minutes before start</label>
                <input name="reminderMins" type="text" class="form-control" id="exampleInputRmb"
                       value="{{event.reminderMinutesBeforeStart}}"/>
            </div>
        {{/event.isReminderOn}}

        <div class="form-group col-md-6">
            <label for="exampleInputStart" class="bmd-label-floating">Start</label>
            <input name="startTime" type="text" class="form-control" id="exampleInputStart"
                   value="{{event.start.dateTime}}"/>
        </div>

        <div class="form-group col-md-6">
            <label for="exampleInputEnd" class="bmd-label-floating">End</label>
            <input name="endTime" type="text" class="form-control" id="exampleInputEnd" value="{{event.end.dateTime}}">
        </div>


        {{#if attendeeStrings.required}}
            <div class="form-group col-md-6">
                <label for="a1" class="bmd-label-floating">Required attendees</label>
                <input id="a1" type="text" class="form-control" value="{{attendeeStrings.required}}"/>
            </div>
        {{/if}}


        {{#if attendeeStrings.optional}}
            <div class="form-group col-md-6">
                <label for="a2" class="bmd-label-floating">Optional attendees</label>
                <input id="a2" type="text" class="form-control" value="{{attendeeStrings.optional}}"/>
            </div>
        {{/if}}

        {{# if attendeeStrings.resources}}
            <div class="form-group col-md-6">
                <label for="a3" class="bmd-label-floating">Resources</label>
                <input id="a3" type="text" class="form-control" value="{{attendeeStrings.resources}}"/>
            </div>
        {{/if}}


        <div class="form-group col-md-12">
            <a class="btn btn-default" href="/calendar/deleteItem?id={{event.id}}"><span>Delete</span></a>
            <button type="submit" class="btn btn-primary btn-raised">Update</button>
        </div>
    </form>
</div>