{{! Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE.txt in the project root for license information.}}
<table class="table">
    <thead class="thead-light">
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">Email addresses</th>
    </thead>
    <tbody>
    {{#each contacts}}
        <tr>
            <td>{{this.givenName}}</td>
            <td>{{this.surname}}</td>
            <td>
                <ul class="list-unstyled">
                    {{#each this.emailAddresses}}
                        <li>
                            {{this.address}}
                        </li>
                    {{/each}}
                </ul>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>