{{#if user}}
    <div class="card-block" style="padding-top: 20px;">
        <div class="row row-sm stats-container">
            <div class="col-12 col-sm-6  stat-col">
                <div class="stat-icon">
                    <i class="fa fa-calendar"></i>
                </div>
                <div class="stat">
                    <div class="value"> {{events}}</div>
                    <div class="name"> Meetings</div>
                </div>
                <div class="progress stat-progress">
                    <div class="progress-bar" style="width: {{events}}%;"></div>
                </div>
            </div>
            <div class="col-12 col-sm-6  stat-col">
                <div class="stat-icon">
                    <i class="fa fa-users"></i>
                </div>
                <div class="stat">
                    <div class="value">{{contacts}}</div>
                    <div class="name"> Contacts</div>
                </div>
                <div class="progress stat-progress">
                    <div class="progress-bar" style="width: {{contacts}}%;"></div>
                </div>
            </div>

        </div>
    </div>
{{else}}
    <div class="jumbotron">
        <a class="btn btn-primary btn-large" href="{{signInUrl}}">Click here to login</a>
    </div>
{{/if}}

