{{! Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE.txt in the project root for license information.}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="/media/meeting.ico" rel="icon">
</head>
<body>
<!-- Nav bar -->

<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="/" style="padding-top: 0;    padding-bottom: 0;">
        <img src='/media/meeting.png' width="40" height="40" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item{{#if active.home}} active{{/if}}">
                <a class="nav-link" href="/">Home</a>
            </li>
            {{#if user}}
                <li class="nav-item{{#if active.survey}} active{{/if}}">
                    <a class="nav-link" href="/meeting">Meeting</a>
                </li>
                <li class="nav-item{{#if active.inbox}} active{{/if}}">
                    <a class="nav-link" href="/mail">Inbox</a>
                </li>
                <li class="nav-item{{#if active.calendar}} active{{/if}}">
                    <a class="nav-link" href="/calendar">Calendar</a>
                </li>
                <li class="nav-item{{#if active.contacts}} active{{/if}}">
                    <a class="nav-link" href="/contacts">Contacts</a>
                </li>
            {{/if}}
        </ul>
        <ul class="navbar-nav ml-auto">
            {{#if user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">{{user}}</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/authorize/signout">Sign Out</a>
                    </div>
                </li>
            {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="{{signInUrl}}">Sign In</a>
                </li>
            {{/if}}
        </ul>
    </div>
</nav>

<!-- Main body -->
<main role="main" class="container">
    {{{body}}}
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
<script>$(document).ready(function () {
    $('body').bootstrapMaterialDesign();
});</script>
</body>
</html>