{{! Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE.txt in the project root for license information.}}
<!-- Extended default form grid -->

<div class="bd-example" data-example-id="">
    <form action="/meeting" method="post">
        <!-- Grid row -->
        <div class="form-row">
            <div class="form-group  col-md-12">
                {{#each contacts}}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="user"
                                   value="{{this.displayName}}#{{this.email}}"/> {{this.displayName}}
                        </label>
                    </div>

                {{/each}}
            </div>
            <div class="form-group col-md-6">
                <label for="exampleSelect55" class="bmd-label-floating"> Event Type:</label>
                <select name="e_type" class="form-control" id="exampleSelect55">
                    {{#each e_types}}
                        <option value="{{this}}"> {{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <!-- Grid row -->

        <div class="form-row">
            <!-- Default input -->
            <div class="form-group col-md-6">
                <label class="bmd-label-floating" for="inputEt">Event title</label>
                <input type="text" name="e_title" class="form-control" id="inputEt">
            </div>
            <!-- Default input -->
            <div class="form-group col-md-6">
                <label class="bmd-label-floating" for="inputLocation">Location</label>
                <input type="text" name="location" class="form-control" id="inputLocation">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="exampleInputStartD" class="bmd-label-floating">Start</label>
                <input name="d_start" type="datetime-local" class="form-control" id="exampleInputStartD"/>
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputStartT" class="bmd-label-floating">End</label>
                <input name="d_end" type="datetime-local" class="form-control" id="exampleInputStartT"/>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="exampleSelect44" class="bmd-label-floating">Reminder:</label>
                <select name="d_reminder" class="form-control" id="exampleSelect44">
                    {{#each reminder}}
                        <option value="{{this}}"> {{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="exampleSelect44" class="bmd-label-floating">Show as:</label>
                <select class="form-control" id="exampleSelect44" name="s_as">
                    {{#each s_as}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="exampleTextarea" class="bmd-label-floating">More Details:</label>
            <textarea class="form-control" id="exampleTextarea" rows="1"></textarea>
        </div>
        <!-- Grid row -->
        <button type="submit" class="btn btn-primary btn-raised">Send</button>
    </form>
</div>