
html, body {
    font-family: 'Open Sans', sans-serif;
}

pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.navbar {
    background: linear-gradient(125deg, rgba(0, 120, 215, 1) 60%, rgba(0, 90, 215, 1) 60%);
}

#navbarNavDropdown ul li a {
    color: #ffffff;
}

#navbarNavDropdown ul li.active a {
    color: #cccccc;
}

.dropdown-menu {
    background: rgba(0, 90, 215, 1);
}

.dropdown-item {
    color: #eceff1;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff;
    background-color: rgba(0, 78, 215, 1);
}

.stats-container .stat-col {
    margin-bottom: 20px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
}

.stats-container .stat-col .stat-icon {
    color: #BDBDBD;
    display: inline-block;
    font-size: 26px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

.stat {
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-right: 10px;
}

.value {
    font-size: 20px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.stat-progress {
    height: 2px !important;
    margin: 5px 0;
    color: #52BCD3;
    background-color: #dddddd;
}

.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.stat-progress .progress-bar {
    background-color: #52BCD3;
    width: 75%;
}

.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #007bff;
    transition: width 0.6s ease;
}

.bd-example {
    position: relative;
    padding: 1rem;
    margin: 1rem -15px;
    border: solid #f7f7f9;
    border-width: .2rem 0 0;
}
